<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515731166912-4s07b1ln2j5mrju8tvq0bkbb499j6a3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515731166912-4s07b1ln2j5mrju8tvq0bkbb499j6a3e</string>
	<key>API_KEY</key>
	<string>AIzaSyBGiaamDf-zi1SNzUBj7cwha-REGTgmGIA</string>
	<key>GCM_SENDER_ID</key>
	<string>515731166912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maregoApp</string>
	<key>PROJECT_ID</key>
	<string>marego-app</string>
	<key>STORAGE_BUCKET</key>
	<string>marego-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515731166912:ios:6ecb46bbd875c06a3fff25</string>
</dict>
</plist>